
@font-face {
    font-family: 'Ringbearer';
    src: url('./font/ringm___-webfont.woff2') format('woff2'),
         url('./font/ringm___-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'Tengwar Elfica';
    src: url('./font/elfica-webfont.woff2') format('woff2'),
         url('.font/elfica-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

header{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-around;

  
}


#startMin{
    display: flex;
    justify-content: space-around;
    background-image: url(./Images/157995-tushkanchik.jpg);
    background-clip: text;
-webkit-background-clip: text;
color: transparent;

}

body {
    margin: 0px;
    height: 100%;
    width: 100%; 
}

#interface{
    display: flex;
    background-image: url("./Images/shrub_flora_green_background_nature_structure_garden_hedge-1255541.jpg!d.jpg");
    height: 750px;
    width: 1500px; 
    justify-content: space-between;
    margin: 0 auto;

}


#interactionMenu{
    display: flex;
    flex-direction: column;
    background-image: url("./Images/shrub_flora_green_background_nature_structure_garden_hedge-1255541.jpg!d.jpg");
    width: 400px;
    flex: 0 0 auto;
    justify-content: center;

}

#boxDice{
 position: relative;
 background-image: url("./Images/hiclipart.com.png");
 width : 100%;
 height: 200px;
 background-repeat: no-repeat;
 background-size: contain;
 display: flex;
 justify-content: space-around;
 align-items: center;
 flex-direction: column;
 margin-left:14%;

}

#diceBtn{
    background-image: url(./Images/texture-or.jpg);
    color: black;
    font-family: 'Ringbearer';
    height: 50px;
    width: 200px;
    font-size: x-large;
    top: 30px;
    margin-top: 70px;
    margin-right: 32%;
    border: solid black 2px;
    border-radius: 20%;
    box-shadow: 10px 5px 5px black;
    transition-duration: 2s;
}

#diceBtn:hover{
    background-image: url(./Images/CaH.gif);
    color: goldenrod;
    font-family: 'Ringbearer';
    height: 50px;
    width: 200px;
    font-size: x-large;
    top: 30px;
    margin-top: 70px;
    border: solid black 2px;
    border-radius: 20%;
    box-shadow: 50px 10px 10px black;
    cursor: pointer;
    
}

#dicefailure{
    background-image: url(./Images/feu\ rouge.gif);
    background-size: cover;
    background-repeat: no-repeat;
    color: red;
    font-family: Ringbearer;
    height: 50px;
    width: 200px;
    font-size: small;
    top: 30px;
    margin-top: 70px;
    margin-right: 32%;
    border: solid black 2px;
    border-radius: 20%;
    box-shadow: 10px 5px 5px black;
    transition-duration: 2s;
}

#diceCombatBtn{
    background-image: url(./Images/texture-or.jpg);
    color: black;
    font-family: 'Ringbearer';
    height: 50px;
    width: 200px;
    font-size: x-large;
    top: 30px;
    margin-top: 70px;
    margin-right: 32%;
    border: solid black 2px;
    border-radius: 20%;
    box-shadow: 10px 5px 5px black;
    transition-duration: 2s;
}

#diceCombatBtn:hover{
    background-image: url(./Images/ImmaculateHandsomeEskimodog-small.gif);
    color: goldenrod;
    font-family: 'Ringbearer';
    height: 50px;
    width: 200px;
    font-size: x-large;
    top: 30px;
    margin-top: 70px;
    border: solid black 2px;
    border-radius: 20%;
    box-shadow: 50px 10px 10px black;
    cursor: pointer;
    
}


#diceResult{
    position: relative;
    display: flex;;
    background-color: ghostwhite;
    font-family: dice;
    height: 80px;
    width: 80px ;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 2%;
    margin-right: 32%;
    border-radius: 20%;
    font-size: 80px;
    box-shadow: 10px 5px 5px black;
    padding-top: 15px;
    padding-left: 5px ;
    transition-duration: 2s;

}
#begin{
    background-image: url(./Images/texture-or.jpg);
    color: black;
    font-family: 'Ringbearer';
    height: 50px;
    width: 200px;
    font-size: x-large;
    top: 30px;
    margin-top: 70px;
    margin-right: ;
    border: solid black 2px;
    border-radius: 20%;
    box-shadow: 10px 5px 5px black;
    transition-duration: 2s;
}

#begin:hover{
    background-image: url(./Images/ImmaculateHandsomeEskimodog-small.gif);
    color: goldenrod;
    font-family: 'Ringbearer';
    height: 50px;
    width: 200px;
    font-size: x-large;
    top: 30px;
    margin-top: 70px;
    border: solid black 2px;
    border-radius: 20%;
    box-shadow: 50px 10px 10px black;
    cursor: pointer;
}


#caseMessage{
    display: flex;
    font-family: 'Ringbearer';
    flex-direction: column;
    background-image: url("./Images/pngfuel.com.png");
    width : 450px;
    height: 750px;
    background-repeat: no-repeat;
    background-size: contain;
    
    margin-bottom: 1%;
    margin-top: 2%;
}


#situation {
    margin-left: 28%;
    margin-top: 5%;

}


#diceIndication{
    font-size: 1.3em;
    margin-left: 5%;
}



#caseContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin-top: 10%;
    margin-left: 6%;
}




#map {
    background-image: url("./Images/map-of-middle-earth.jpg") ;
    background-size: contain;
    background-repeat: no-repeat;
    width: 75%;
    height: 100%;
    box-shadow: black;

  
}

.case{
    position:relative ;
    background-color: brown;
    width: 0.8em;
    height: 0.25em ;
    opacity: 15%;
    transition-duration: 5s;
}

.case:hover{
    position:relative ;
    background-color: brown;
    width: 0.8em;
    height: 0.25em ;
    opacity: 100%;
}

.active{
    opacity: 100%;
}

.case.zero{
    
    width: 1.1em;
    height: 1.1em ;
    left: 23%;
    top :19.5%;
    border-radius: 50%;
}

.case.zero:hover{
    background-image: url(./Images/02-hobbiton.jpg);
    background-color: rgba(0,0, 0, 0);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 15em;
    height: 15em ;
    border-radius: 50%;

}



.case.one{
    left: 25%;
    top :18%;
  
}

.case.two{
    left: 26.5%;
    top :17.5%;
}

.case.three{
    left: 28%;
    top :17.5%;
    transform: rotate(20deg);
}

.case.four{
    width: 1.1em;
    height: 1.1em ;
    left: 29%;
    top :17%;
    border-radius: 50%;
}

.case.four:hover{
    background-image: url(./Images/bree_from_lotr_by_marq94.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: rgba(0,0, 0, 0);
    width: 10em;
    height: 10em ;
    border-radius: 50%;
}

.case.five{
    left: 30.9%;
    top :15.8%;
}

.case.six{
    left: 32.4%;
    top :15.2%;
}

.case.seven{
    left: 34%;
    top :14.3%;
    transform: rotate(-20deg);
}

.case.eight{
    left: 35.8%;
    top :12.6%;
    transform: rotate(-20deg);
}

.case.nine{
    left: 37.1%;
    top :11.6%;
}

.case.ten{
    left: 38.6%;
    top :11%;
}

.case.eleven{
    left: 40%;
    top :11%;
    width: 1.8em;
    transform: rotate(10deg);

}

.case.twelve{
    width: 1.1em;
    height: 1.1em ;
    left: 43%;
    top :10.6%;
    border-radius: 50%;
}

.case.twelve:hover{
    background-image: url(./Images/foncombe.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: rgba(0,0, 0, 0);
    width: 20em;
    height: 20em ;
    border-radius: 50%; 
}

.case.thirteen{
    left: 42.5%;
    top :12%;
    width: 1.5em;
    transform: rotate(100deg);
}

.case.fourteen{
    left: 42%;
    top :15%;
    width: 1.5em;
    transform: rotate(100deg);
}

.case.fiveteen{
    left: 41.8%;
    top :17.5%;
    width: 1em;
    transform: rotate(110deg);
    

}

.case.sixteen{
    width: 1.1em;
    height: 1.1em ;
    left: 41%;
    top :18.5%;
    border-radius: 50%;
}

.case.sixteen:hover{
    background-image: url(./Images/moria\ gate.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: rgba(0,0, 0, 0);
    width: 20em;
    height: 20em ;
    border-radius: 50%; 
}
.case.seventeen{
    width: 0.2em;
    height: 0.2em ;
    left: 42.8%;
    top :17%;
}

.case.eighteen{
    width: 0.2em;
    height: 0.2em ;
    left: 43.2%;
    top :16.5%;
}

.case.nineteen{
    width: 0.2em;
    height: 0.2em ;
    left: 43.7%;
    top :16.6%;
}

.case.twenty{
    width: 1.1em;
    height: 1.1em ;
    left: 44.3%;
    top :16%;
    border-radius: 50%;
}

.case.twenty:hover{
    background-image: url(./Images/s-m-the-bridge-of-khazx-dum2.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: rgba(0,0, 0, 0);
    width: 20em;
    height: 20em ;
    border-radius: 50%; 
}

.case.twentyOne{
    left: 46%;
    top :15%;
    width: 1.5em;
    transform: rotate(15deg);

}

.case.twentyTwo{
    left: 48.5%;
    top :16%;
    width: 1.5em;
    transform: rotate(40deg);
}

.case.twentyThree{
    left: 50.5%;
    top :18%;
    width: 1.5em;
    transform: rotate(45deg);
}

.case.twentyFour{
    left: 52.1%;
    top :20%;
    width: 1.5em;
    transform: rotate(55deg);
}

.case.twentyFive{
    left: 52.7%;
    top :23%;
    width: 1.5em;
    transform: rotate(90deg);

}

.case.twentySix{
    left: 52.7%;
    top :26%;
    width: 1.5em;
    transform: rotate(90deg);


}

.case.twentySeven{
    left: 53.4%;
    top :28%;
    width: 0.5em;
    transform: rotate(90deg);

}

.case.twentyEight{
    width: 1.1em;
    height: 1.1em ;
    left: 53%;
    top :29%;
    border-radius: 50%;

}

.case.twentyNine{
    left: 55%;
    top :27.8%;
    width: 1em;
 
}

.case.thirty{
    left: 56.8%;
    top :27.3%;
    width: 1em;
 
}

.case.thirtyOne{
    left: 58.5%;
    top :27%;
    width: 1.5em;
    transform: rotate(20deg);
 
}

.case.thirtyTwo{
    left: 59.5%;
    top :29%;
    width: 1.5em;
    transform: rotate(90deg);
 
}

.case.thirtyThree{
    left: 59.5%;
    top :32%;
    width: 1.5em;
    transform: rotate(90deg);
 
}

.case.thirtyFour{
    width: 1.1em;
    height: 1.1em ;
    left: 59.8%;
    top :33.8%;
    border-radius: 50%;

}

.case.thirtyFive{
    width: 0.5em;
    left: 61.5%;
    top :31.5%;
    transform: rotate(-30deg);
}

.case.thirtySix{
    width: 0.5em;
    left: 62.5%;
    top :30.6%;
    transform: rotate(-30deg);
}

.case.thirtySeven{
    width: 0.5em;
    left: 63.5%;
    top :29.5%;
    transform: rotate(-30deg);
}

.case.thirtyEight{
    width: 1.1em;
    height: 1.1em ;
    left: 64.5%;
    top :27%;
    border-radius: 50%;
}


#ans0:hover{
    color: goldenrod;
    cursor: pointer;
}

#ans1:hover{
    color: goldenrod;
    cursor: pointer;
}

#ans2:hover{
    color: goldenrod;
    cursor: pointer;
}

#ans3:hover{
    color: goldenrod;
    cursor: pointer;
}


#pion{
    position: relative;
    background-image: url(./Images/giphy.gif);
    background-size: contain;
    width: 3em;
    height: 3em;
    margin: 0px;
    padding: 0px;
    border-radius: 20%;
    left: 21.5%;
    top :20%;
    z-index: 1;
    transition: 2s;
}

#pion:hover{
    background-image: url(./Images/giphy.gif);
    background-size: contain;
    width: 15em;
    height: 15em;
    margin: 0px;
    padding: 0px;
    border-radius: 20%;
}


.pion0{
    background-image: url(./Images/giphy.gif);
    background-size: contain;
    width: 3em;
    height: 3em;
    margin: 0px;
    padding: 0px;
    border-radius: 20%;
    left: 21.5%;
    top :20%;
}


#pion.pion1{
    background-image: url(./Images/giphy.gif);
    background-size: contain;
    width: 3em;
    height: 3em;
    margin: 0px;
    padding: 0px;
    border-radius: 20%;
    left: 23%;
    top :20%;
}


#pion.pion2{
    background-image: url(./Images/giphy.gif);
    background-size: contain;
    width: 3em;
    height: 3em;
    margin: 0px;
    padding: 0px;
    border-radius: 20%;
    left: 25%;
    top :20%;
}

#pion.pion3{
    background-image: url(./Images/giphy.gif);
    background-size: contain;
    width: 3em;
    height: 3em;
    margin: 0px;
    padding: 0px;
    border-radius: 20%;
    left: 27%;
    top :20%;
}


#pion.pion4{
    background-image: url(./Images/giphy.gif);
    background-size: contain;
    width: 3em;
    height: 3em;
    margin: 0px;
    padding: 0px;
    border-radius: 20%;
    left: 28%;
    top :22%;
}

#pion.pion5{
    background-image: url(./Images/giphy.gif);
    background-size: contain;
    width: 3em;
    height: 3em;
    margin: 0px;
    padding: 0px;
    border-radius: 20%;
    left: 29%;
    top :22%;
}

#pion.pion6{
    background-image: url(./Images/giphy.gif);
    background-size: contain;
    width: 3em;
    height: 3em;
    margin: 0px;
    padding: 0px;
    border-radius: 20%;
    left: 31%;
    top :22%;
}


#pion.pion7{
    background-image: url(./Images/giphy.gif);
    background-size: contain;
    width: 3em;
    height: 3em;
    margin: 0px;
    padding: 0px;
    border-radius: 20%;
    left: 32%;
    top :21%;
}

#pion.pion8{
    background-image: url(./Images/giphy.gif);
    background-size: contain;
    width: 3em;
    height: 3em;
    margin: 0px;
    padding: 0px;
    border-radius: 20%;
    left: 34%;
    top :20%;
}

#pion.pion9{
    background-image: url(./Images/giphy.gif);
    background-size: contain;
    width: 3em;
    height: 3em;
    margin: 0px;
    padding: 0px;
    border-radius: 20%;
    left: 35%;
    top :20%;
}

#pion.pion10{
    background-image: url(./Images/giphy.gif);
    background-size: contain;
    width: 3em;
    height: 3em;
    margin: 0px;
    padding: 0px;
    border-radius: 20%;
    left: 37%;
    top :20%;

}

#pion.pion11{
    background-image: url(./Images/giphy.gif);
    background-size: contain;
    width: 3em;
    height: 3em;
    margin: 0px;
    padding: 0px;
    border-radius: 20%;
    left: 39%;
    top :20%;
}



#pion.pion12{
    background-image: url(./Images/giphy.gif);
    background-size: contain;
    width: 3em;
    height: 3em;
    margin: 0px;
    padding: 0px;
    border-radius: 20%;
    left: 42%;
    top :20.5%;
}

#pion.pion13{
    background-image: url(./Images/giphy.gif);
    background-size: contain;
    width: 3em;
    height: 3em;
    margin: 0px;
    padding: 0px;
    border-radius: 20%;
    left: 44%;
    top :27%;
}

#pion.pion14{
    background-image: url(./Images/giphy.gif);
    background-size: contain;
    width: 3em;
    height: 3em;
    margin: 0px;
    padding: 0px;
    border-radius: 20%;
    left: 44%;
    top :30%;
}

#pion.pion15{
    background-image: url(./Images/giphy.gif);
    background-size: contain;
    width: 3em;
    height: 3em;
    margin: 0px;
    padding: 0px;
    border-radius: 20%;
    left: 43%;
    top :33%;
}

#pion.pion16{
    background-image: url(./Images/giphy.gif);
    background-size: contain;
    width: 3em;
    height: 3em;
    margin: 0px;
    padding: 0px;
    border-radius: 20%;
    left: 43%;
    top :33%;
}

#pion.pion17{
    background-image: url(./Images/giphy.gif);
    background-size: contain;
    width: 3em;
    height: 3em;
    margin: 0px;
    padding: 0px;
    border-radius: 20%;
    left: 43%;
    top :33%;
}

#pion.pion18{
    background-image: url(./Images/giphy.gif);
    background-size: contain;
    width: 3em;
    height: 3em;
    margin: 0px;
    padding: 0px;
    border-radius: 20%;
    left: 43%;
    top :33%;
}

#pion.pion19{
    background-image: url(./Images/giphy.gif);
    background-size: contain;
    width: 3em;
    height: 3em;
    margin: 0px;
    padding: 0px;
    border-radius: 20%;
    left: 43%;
    top :33%;
}

#pion.pion20{
    background-image: url(./Images/giphy.gif);
    background-size: contain;
    width: 3em;
    height: 3em;
    margin: 0px;
    padding: 0px;
    border-radius: 20%;
    left: 43%;
    top :33%;
}

#pion.pion21{
    background-image: url(./Images/giphy.gif);
    background-size: contain;
    width: 3em;
    height: 3em;
    margin: 0px;
    padding: 0px;
    border-radius: 20%;
    left: 45%;
    top :34%;
}

#pion.pion22{
    background-image: url(./Images/giphy.gif);
    background-size: contain;
    width: 3em;
    height: 3em;
    margin: 0px;
    padding: 0px;
    border-radius: 20%;
    left: 50%;
    top :37%;
}

#pion.pion23{
    background-image: url(./Images/giphy.gif);
    background-size: contain;
    width: 3em;
    height: 3em;
    margin: 0px;
    padding: 0px;
    border-radius: 20%;
    left: 51.6%;
    top :39%;
}

#pion.pion24{
    background-image: url(./Images/giphy.gif);
    background-size: contain;
    width: 3em;
    height: 3em;
    margin: 0px;
    padding: 0px;
    border-radius: 20%;
    left: 53%;
    top :42%;
}

#pion.pion25{
    background-image: url(./Images/giphy.gif);
    background-size: contain;
    width: 3em;
    height: 3em;
    margin: 0px;
    padding: 0px;
    border-radius: 20%;
    left: 54%;
    top :48%;
}

#pion.pion26{
    background-image: url(./Images/giphy.gif);
    background-size: contain;
    width: 3em;
    height: 3em;
    margin: 0px;
    padding: 0px;
    border-radius: 20%;
    left: 54%;
    top :52%;
}

#pion.pion27{
    background-image: url(./Images/giphy.gif);
    background-size: contain;
    width: 3em;
    height: 3em;
    margin: 0px;
    padding: 0px;
    border-radius: 20%;
    left: 54%;
    top :53%;
}

#pion.pion28{
    background-image: url(./Images/giphy.gif);
    background-size: contain;
    width: 3em;
    height: 3em;
    margin: 0px;
    padding: 0px;
    border-radius: 20%;
    left: 54%;
    top :53%;
}

#pion.pion29{
    background-image: url(./Images/giphy.gif);
    background-size: contain;
    width: 3em;
    height: 3em;
    margin: 0px;
    padding: 0px;
    border-radius: 20%;
    left: 54%;
    top :53%;
}

#pion.pion30{
    background-image: url(./Images/giphy.gif);
    background-size: contain;
    width: 3em;
    height: 3em;
    margin: 0px;
    padding: 0px;
    border-radius: 20%;
    left: 55.6%;
    top :53%;
}


#pion.pion31{
    background-image: url(./Images/giphy.gif);
    background-size: contain;
    width: 3em;
    height: 3em;
    margin: 0px;
    padding: 0px;
    border-radius: 20%;
    left: 57.6%;
    top :53%;
}

#pion.pion32{
    background-image: url(./Images/giphy.gif);
    background-size: contain;
    width: 3em;
    height: 3em;
    margin: 0px;
    padding: 0px;
    border-radius: 20%;
    left: 61%;
    top :59%;
}


#pion.pion33{
    background-image: url(./Images/giphy.gif);
    background-size: contain;
    width: 3em;
    height: 3em;
    margin: 0px;
    padding: 0px;
    border-radius: 20%;
    left: 61%;
    top :63%;
}


#pion.pion34{
    background-image: url(./Images/giphy.gif);
    background-size: contain;
    width: 3em;
    height: 3em;
    margin: 0px;
    padding: 0px;
    border-radius: 20%;
    left: 61%;
    top :70%;
}

#pion.pion35{
    background-image: url(./Images/giphy.gif);
    background-size: contain;
    width: 3em;
    height: 3em;
    margin: 0px;
    padding: 0px;
    border-radius: 20%;
    left: 62%;
    top :70%;
}

#pion.pion36{
    background-image: url(./Images/giphy.gif);
    background-size: contain;
    width: 3em;
    height: 3em;
    margin: 0px;
    padding: 0px;
    border-radius: 20%;
    left: 63%;
    top :69%;
}

#pion.pion37{
    background-image: url(./Images/giphy.gif);
    background-size: contain;
    width: 3em;
    height: 3em;
    margin: 0px;
    padding: 0px;
    border-radius: 20%;
    left: 64%;
    top :68.5%;
}

#pion.pion38{
    background-image: url(./Images/giphy.gif);
    background-size: contain;
    width: 3em;
    height: 3em;
    margin: 0px;
    padding: 0px;
    border-radius: 20%;
    left: 66%;
    top :60%;
}


#trollImg{
    position: absolute;
    background-image: url(./Images/troll.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 700px;
    height: 500px;
    z-index: 3;
    margin-top: 15%;
    margin-left: 15%;
    border-radius: 15%;

}

#nazImg{
    position: absolute;
    background-image: url(./Images/naz.png) ;
    background-repeat: no-repeat;
    background-size: contain;
    width: 400px;
    height: 500px;
    z-index: 3;
    left: 40%;
    top: 150px;
    border-radius: 10% ;
}

#balrogImg{
    position: absolute;
    background-image: url(./Images/balrog.jpg) ;
    background-repeat: no-repeat;
    background-size: contain;
    width: 500px;
    height: 400px;
    z-index: 5;
    margin-top: 15%;
    margin-left: 15%;
    margin-right: 5% ;
    border-radius: 15% ;
}

#orcImg{
    position: absolute;
    background-image: url(./Images/orc.jpeg) ;
    background-repeat: no-repeat;
    background-size: contain;
    width: 500px;
    height: 400px;
    z-index: 5;
    left: 500px;
    top:200px;
    border-radius: 10% ;
    right: 10%
}

#arachneImg{
    position: absolute;
    background-image: url(./Images/liza-kurenkov-shelob.jpg) ;
    background-repeat: no-repeat;
    background-size: contain;
    width: 500px;
    height: 500px;
    z-index: 5;
    margin-top: 15%;
    margin-left: 15%;
    margin-right: 5% ;
    border-radius: 10% ;
}

#gollumImg{
    position: absolute;
    background-image: url(./Images/Olanda_Fong-Surdenas_-_Gollum.jpg) ;
    background-repeat: no-repeat;
    background-size: contain;
    width: 500px;
    height: 450px;
    z-index: 5;
    margin-top: 15%;
    margin-left: 15%;
    margin-right: 5% ;
    border-radius: 10% ;
}

#party{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./Images/lotr-hobbit-toast.gif) ;
    background-repeat: no-repeat;
    background-size: contain;
    width: 560px;
    height: 300px;
    z-index: 3;
    margin-top: 15%;
    margin-left: 15%;
    margin-right: 5% ;
    border-radius: 10% ;
    color: red;
    font-family: Ringbearer;
    font-size: x-large;
}

#sleep{
    position: absolute;
    background-image: url(./Images/sleep.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 400px;
    height: 300px;
    z-index: 5;
    margin-top: 15%;
    margin-left: 15%;
    margin-right: 5% ;
    border-radius: 10% ;

}

